<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <log4net>
	<appender name="FileAppender" type="log4net.Appender.FileAppender,log4net">
		<file value="C:\log4net\mylogfile.txt" />
		<!-- the location where the log file would be created -->
		<appendToFile value="true" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="INFO" />
			<levelMax value="FATAL" />
		</filter>
	</appender>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="FileAppender" />
	</root>
  </log4net>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
	<add name="XHTD_Entities" connectionString="metadata=res://*/Entities.XHTDModel.csdl|res://*/Entities.XHTDModel.ssdl|res://*/Entities.XHTDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=45.124.94.191\SQLEXPRESS;initial catalog=XHTD;persist security info=True;user id=xhtd;password=1234@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>