<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="API_WebSale">
			<section name="Url" type="System.Configuration.NameValueSectionHandler" />
			<section name="Account" type="System.Configuration.NameValueSectionHandler" />
		</sectionGroup>
		<sectionGroup name="API_DMS">
			<section name="Url" type="System.Configuration.NameValueSectionHandler" />
			<section name="Account" type="System.Configuration.NameValueSectionHandler" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="XHTD_Entities" connectionString="metadata=res://*/Entities.XHTDModel.csdl|res://*/Entities.XHTDModel.ssdl|res://*/Entities.XHTDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=45.124.94.191\SQLEXPRESS;initial catalog=XHTD;persist security info=True;user id=xhtd;password=1234@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="Sync_Order_Interval_In_Seconds" value="15" />
		<add key="Sync_Booked_Order_Interval_In_Seconds" value="45" />
		<add key="Sync_Booked_Changed_Interval_In_Seconds" value="180" />
	</appSettings>
	<API_WebSale>
		<Url>
			<add key="GetToken" value="http://10.0.1.40:9876/connect/token" />
			<add key="SearchOrder" value="http://10.0.1.40:9876/api/order/search" />
			<add key="SearchOrderByCreated" value="http://10.0.1.40:9876/api/order/search-by-created-date" />
			<add key="SearchOrderByUpdated" value="http://10.0.1.40:9876/api/order/search-by-updated-date" />
		</Url>
		<Account>
			<add key="grant_type" value="password" />
			<add key="client_secret" value="10d476bd-5e40-40b7-a336-f24195aa8f16" />
			<add key="username" value="ierp-tungnt" />
			<add key="password" value="12341234" />
			<add key="client_id" value="websale-api-haiphong" />
		</Account>
	</API_WebSale>
	<API_DMS>
		<Url>
			<add key="GetToken" value="http://45.124.94.191:8789/token" />
			<add key="SendMsg" value="http://45.124.94.191:8789/api/sendMsg" />
		</Url>
		<Account>
			<add key="grant_type" value="password" />
			<add key="username" value="khoanv" />
			<add key="password" value="121212" />
		</Account>
	</API_DMS>
</configuration>